# Mapbox Access Token
# Get your token from https://account.mapbox.com/access-tokens/
NEXT_PUBLIC_MAPBOX_TOKEN=pk.eyJ1IjoiamNhcmRvbmExMCIsImEiOiJjbWoyYTJpNnUwNG13M2VxMHp0OXFuaHoyIn0.CSzF-Na4VMqNlrxHHT8ufA
